---
import Layout from '../layouts/Layout.astro';

import HeroSection from '../components/HeroSection.astro';
import Features from '../components/Features.astro';
import LogosCarousel from '../components/Logos.astro';
---

<Layout title="Sassify - Your Ultimate SasS Template">
  <main>
    <HeroSection
        subtitle="Unlock your finanial potential"
        title="Manage all your finances within minutes"
        text="Take control of your financial future: manage your finances, grow investments, and build lasting wealth."
    />  
    <LogosCarousel />

    <Features />
  </main>
</Layout>
