---
import Layout from '../layouts/Layout.astro';

import HeroSection from '../components/HeroSection.astro';
import Features from '../components/Features.astro';
import Logos from '../components/Logos.astro';
import Transaction from '../components/Transaction.astro';
import MetricsCard from '../components/MetricsCard.astro';
import Tools from '../components/Tools.astro';
---

<Layout title="CashFlow - Your Ultimate SasS Template">
  <main>
    <HeroSection
        subtitle="Unlock your finanial potential"
        title="Manage all your finances within minutes"
        text="Take control of your financial future: manage your finances, grow investments, and build lasting wealth."
    />  
    <Logos />
    <Features />
    <Transaction />
    <MetricsCard />
    <Tools />
  </main>
</Layout>
