---
import FinanceDashboard from "./FinanceDashboard.astro";
import NameStar from "./ui/NameStar.astro";
---

<section id="features" class="py-[60px]">
  <div class="container">
    <!-- Section Header -->

    <div class="text-center lg:w-[600px] mx-auto mb-16">
      <h1
        class="border  border-primary rounded-full px-4 py-2 max-w-max md:text-[16px] flex items-center gap-2 text-[14px]  mx-auto poppins-regular text-primary tracking-[-0.5px]"
      >
        <NameStar name={"Features"} />
      </h1>
      <h2 class="title-section my-[15px]">
        Let's know our cool features
      </h2>
      <p class="text-lg text-gray-600 max-w-2xl mx-auto">
        Explore powerful tools designed to simplify your financial management
        and make every transaction effortless.
      </p>
    </div>
    <FinanceDashboard />

    <!-- Features Grid -->
  </div>
</section>
