---
import { Image } from "astro:assets";
import Button from "./ui/Button.astro";
import transaction from "../assets/transaction.webp";
import TrusedUsers from "./TrustedUsers.astro";
import NameStar from "./ui/NameStar.astro";

interface HeroSectionProps {
  subtitle: string;
  title: string;
  emailLabel: {
    textEmail: string;
    color: string;
  };
  email: string;
  imageSrc: string;
  imageAlt: string;
  buttonHref?: string;
  sectionBg?: string;
  text?: string;
  home?: boolean;
}

const {
  subtitle,
  title,

  imageAlt,
  sectionBg,
  text = "",

  classH2,
} = Astro.props;
---

<section class={sectionBg}>
  <div
    class="container grid-cols-1 py-[20px] sm:px-5 px-2 mx-auto max-w-screen-xl md:grid-cols-2 gap-x-8 grid items-center"
  >
    <div
      class="col-span-1 flex sm:px-[0] px-[10px] flex-col custom-row-gap gap-y-[30px] md:mb-0 md:pr-10 text-center md:text-left"
    >
      <h1
        class="border border-primary rounded-full px-4 py-2 max-w-max md:text-[16px] flex items-center gap-2 text-[14px] md:mx-0 mx-auto poppins-regular text-primary tracking-[-0.5px]"
      >
        <NameStar name={"Use Cases"} />
      </h1>

      <h2 class=`text-title tracking-[-1.3px] poppins-medium text-[45px]`>
        Greate Overview of your entire transaction
      </h2>

      
          <p
            class="paragraph"
            style="margin-bottom:0 !important"
            >Connect your bank accounts, credit loans, and investments to gain a comprehensive financial overview in a single location.</p>
        

      
     <div>

     </div>
    </div>

    <div class="col-span-1 flex z-10 justify-center">
      <div class="relative w-full">
        <div class="relative w-full " >
          <Image
            src={transaction}
            alt={"transaction"}
            width={330}
            height={217}
            class="w-full h-full rounded-[20px] ml-auto lg:scale-95"
            loading="eager"
            decoding="async"
            fetchpriority={"high"}
          />
        </div>
      </div>
    </div>
  </div>
</section>
